/* #q1{
    z-index: 1;
     position: absolute;
     top: 57%;
     left: 75%;
     transform: translate(-50%, -50%);
     width: 35%;
}

#q2{
    background-color: rgb(0, 0, 0);
    border-radius: 45px;
}

#q3{
    color: rgb(255, 255, 255);
    font-family: 'Ysabeau Office', sans-serif;
}

#b1{
    color: white;
     border-radius: 350px;
      background-color:rgba(15, 49, 99, 0.973)
}

#q4{
    color: rgba(255, 255, 255, 0.705);
}

#q5{
    color: rgba(109, 129, 196, 0.744);
} */