



<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: 100%;
        

    }




    .container {
        color: rgb(0, 0, 0);
        margin: 0 auto;
        padding: 20px;
        background-color: #fcfdff;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgb(255, 255, 255);
        font-family: 'Ysabeau Office', sans-serif;
        position: absolute;
        top: 55%;
        left: 73%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 490px;
        z-index: 1;

    }

   
    #q5 {
        text-align: center;
        color: rgba(109, 129, 196, 0.744);
        display: block;
        margin-top: 10px;
        font-family: 'Ysabeau Office', sans-serif;

    }

    #m2 {

        margin: 0 auto;
        color: white;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        font-family: 'Righteous', cursive;
        font-size: 70px;
        font-stretch: expanded;
        font-weight: 400;
    }

    h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 20px;
        color: black;
    }

    label {
        display: block;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 5px;
        border: 1px solid #000000;
        border-radius: 5px;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #0f0433;
        color: #fff;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }

    button:hover {
        background-color: #1f2941d0;
    }

    @media only screen and (max-width: 940px) {
        .container {
            width: 90%;
        }
    }


    @media only screen and (max-width: 940px) {
        .container {
            width: 80%;
            top: 63%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        
        #m2 {
            font-size: 23px;
            top: 23%;
            font-weight: 100;
            text-align: left;
            margin-left: 90px;
            text-align: center;
        }

        /* Adjust other styles as needed for mobile view */
        h1 {
            font-size: 24px;
        }

        button {
            padding: 8px;
            font-size: 16px;
        }
    }

    /* @media only screen and (min-width: 320px){

#m2{
    display: none;
}

#m1{
    display: none;
}

    } */


    /* Footer */
    footer {
        text-align: center;
        padding: 10px;
        background-color: #000000;
        color: white;
        position: absolute;
        bottom: 0;
        margin-top: 15px;
        width: 100%;
    }
</style>


<body>

    <!-- navbar -->
    <div class="parent" style="background-color: rgb(0, 0, 0);">
        <nav class="navbar navbar-expand-lg bg-body-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="https://i.postimg.cc/NfJhGL02/Bank-Wordmark-Logo.jpg" style="width: 15%;"
                        class="d-inline-block align-text-top">
                </a>
                <h2 style="color: white;font-family: 'Ysabeau Office', sans-serif;">Revolut Net Banking</h2>

            </div>
        </nav>
    </div>



    <!-- sign up box -->

    <br>
    <div id="l1">

    </div>

    <div class="container text-center">
            <h1 class="mt-3" id="q3">Revolut</h1>
            <form (ngSubmit)="login()" [formGroup]="loginForm" class="mt-3 p-3" action="">
                <div class="mt-2 p-2">
                    <input formControlName="acno" type="text" id="l5" name="acno." placeholder="Enter Acc No."
                        class="form-control text-center">
                </div>

                <div *ngIf="this.loginForm.get('acno')?.errors&&this.loginForm.get('acno')?.touched">
                    <p class="text-danger">*Account number invalid</p>
                </div>

                <div class="mt-1 p-2">
                    <input formControlName="psw" type="password" name="pswd" placeholder="Enter Password" id="l6"
                        class="form-control text-center">
                </div>

                <div *ngIf="this.loginForm.get('psw')?.errors&&this.loginForm.get('psw')?.touched">
                    <p class="text-danger">*Password invalid</p>
                </div>


                <div class="mt-3 p-2">
                    <button id="b1" type="submit" class="btn btn-outline-light w-100">Login</button>
                    <br><br>
                    <h6 id="q4">Don’t have an account?</h6>
                    <a routerLink="/signup" id="q5">Sign Up here</a>
                </div>
            </form>

        </div>


    <br>
    <div><br></div>
    <div>
        <p id="m2">
            One app, <br>
            all things money!</p>
        <br>
    </div>

    <!-- <footer>
        <span>&copy; 2023 Revolut</span>
    </footer> -->


</body>