<div *ngIf="data" class="container w-100">
    <div style="background-color: rgba(41, 5, 5, 0.635);border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.598), 0 4px 8px 0 rgba(255, 255, 255, 0.598);"
        class="container p-4 p-md-5 mt-3 mr-3 m-md-4 border border-dark-subtle text-center">
        <h3 style="color: rgb(255, 255, 255);">Are you sure you want to delete your account?</h3>

        <div class="d-flex justify-content-center mt-4">
            <button (click)="deleteAcc()" class="btn btn-outline-danger px-4 px-sm-5 mr-2">Yes, Delete</button>
            <button (click)="cancel()" class="btn btn-outline-info px-4 px-sm-5">Cancel</button>
        </div>
    </div>
</div>